@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.logo-name {
 font-family: 'Pacifico', cursive;
 letter-spacing: 2px;

  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 10px;
}

